@media only screen and (min-width:416px){
/* #wrapper_profile {
    
} */
#profile_section0 {
    background-color: rgb(255, 255, 255);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    text-align: center;
}
#profile_section1 {
    background-color: rgb(35, 35, 35);
    height: 100%;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    border-top: black 2px dotted;
}
#navid {
    background-color: rgb(52, 52, 52);
}
#profile_section3 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    text-align: center;
    background-color: rgb(45, 45, 45);
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
    background-image: url('/static/instagrambot/img/greyblack2.jpg');
}
#profile_section2 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    text-align: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
}
.pricing_form {
    background-color: rgb(121, 176, 185);
    width: 600px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.hashtag_form {
    width: 368px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    margin-top:15px;
    border-radius: 15px;
    background-color: rgb(217, 217, 217);
    margin-right: 5px;
    margin-bottom: 40px;
    margin-right: 55px;
    margin-left: 55px;
    border: rgb(0, 255, 255) solid 2px;
}
.hashtag_form2 {
    width: 368px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    margin-top:15px;
    border-radius: 15px;
    background-color: rgb(217, 217, 217);
    margin-right: 5px;
    margin-bottom: 40px;
    margin-right: 55px;
    margin-left: 55px;
    border: rgb(0, 255, 255) solid 2px;
}
.followbutton {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 15px;
    border-radius: 15px;
    background-color:rgb(217, 217, 217);
    margin-right: 5px;
    width: 368px;;
    margin-top:15px;
    margin-bottom: 40px;
    margin-right: 55px;
    margin-left: 55px;
    border: rgb(0, 255, 255) solid 2px;
}
.geo {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 15px;
    border-radius: 15px;
    background-color:rgb(217, 217, 217);
    margin-right: 5px;
    margin-top:15px;
    width: 368px;
    margin-bottom: 40px;
    margin-right: 55px;
    margin-left: 55px;
    border: rgb(0, 255, 255) solid 2px;
}
.hashtag_form3 {
    width: 400px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    border: rgb(0, 255, 255) solid 2px;
}
#unfollow_section{
    background-color: rgb(32, 32, 32);
    padding: 40px;
}
.unfollow_form {
    width: 400px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: red solid 2px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 55px;
    margin-left: 55px;
    margin-bottom: 25px;
    vertical-align: top;
    padding-bottom: 50px;
}
#unfollow_header {
    color: white;
    padding-top: 10px;
    margin-bottom: 15px;
}
.tips{
    display: inline-block;
    margin-left: 10%;
    background: rgb(18, 18, 18);
    padding: 14px;
    padding-bottom: 38px;
    border-radius: 22px;
    border: rgb(0, 255, 255) solid 2px;
    width: 410px;
    margin-right: 55px;
    margin-left: 55px;
    margin-bottom: 20px;
}
.align_left {
    text-align: center;
}
.all_hashtags {
    text-align: center;
    margin-top: 15px;
}
#pricing_section4 {
    background-color: rgb(52, 52, 52);
}
.headline {
   text-align: center;
   color: white;
}
.headlineblack {
   text-align: center;
   color: rgb(0, 0, 0);
}
#register_form {
    width: 400px;
    text-align: center;
}
#followform {
    padding: 15px;
}
#stats {
    width: 89px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.messages {
    color:red;
    margin-top: 5px;
    text-align: center;
}
#login_form {
    display: none;
}
#geoform {
    padding: 15px;
    margin-top: -26px;
    margin-bottom: -18px;
}
#usernameform {
    padding-top: 36px;
    padding-bottom: 14px;
    padding-right: 15px;
    padding-left: 15px;
}
#interestform {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: -5px;
}
.Active {
    color: rgb(1, 219, 1);
}
.Inactive {
    color: red;
}
.profile_text {
    color: black;
}
.delete_x {
    color: red;
}
.hashtags {
    background-color: rgb(69, 69, 69);
    color: rgb(255, 255, 255);
    padding: 4px;
    margin-top: 10px;
    border-radius: 4px;
}
.keywords {
    background-color: rgb(171, 171, 171);
    color: rgb(0, 0, 0);
    padding: 4px;
    margin-top: 10px;
    border-radius: 4px;
}
.interests {
    background-color: rgb(171, 171, 171);
    color: rgb(0, 0, 0);
    padding: 4px;
    margin-top: 10px;
    border-radius: 4px;
}
.usernames {
    background-color: rgb(171, 171, 171);
    color: rgb(0, 0, 0);
    padding: 4px;
    margin-top: 10px;
    border-radius: 4px;
}
.blacklists {
    background-color: rgb(0, 0, 0);
    color: rgb(236, 50, 50);
    padding: 4px;
    margin-top: 10px;
    border-radius: 4px;
}
.maxfollows {
    /* background-color: rgb(69, 69, 69); */
    color: rgb(0, 0, 0);
    padding: 4px;
    margin-top: 10px;
    border-radius: 4px;
}
.locationcolor {
    /* background-color: rgb(69, 69, 69); */
    color: rgb(0, 0, 0);
    padding: 4px;
    margin-top: 10px;
    border-radius: 4px;
}
.hashtag_box {
    width: 355px;
    height: 281px;
    display: inline-block;
    margin-right: 5%;
    border-radius: 20px;
    border: black 2px solid;
    overflow: auto;
}
#submit_form_hashtag {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
#submit_form_keyword {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
#submit_form_blacklist {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
#submit_form_maxfollows {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
#connect {
    width: 370px;
    text-align: center;
    margin-top: 15%;
    display: inline-block;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    border: black 2px solid;
}
#update {
    width: 455px;
    text-align: center;
    margin-top: 10%;
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
    border: black 2px solid;
    background-color: rgb(45, 45, 45);
}
#verify {
    width: 455px;
    text-align: center;
    margin-top: 10%;
    display: inline-block;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    border: black 2px solid;
}
#hide {
    display: none;
}
.tutorial {
    color: rgb(105, 105, 105);
}
.update_text {
    color: rgb(80, 185, 56);
}
p {
    font-size: 10px;
}
#loading {
    display: none;
}
#user_info {
    display: inline-block;
    margin-right: 45%;
}
#payment {
    display: inline-block;
    vertical-align: top;
    margin-top: 2%;
    padding-bottom: 15px;
}
#activate {
    color: rgb(1, 255, 1);
}
#max_follows {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 37px;
}
#location {
    text-align: center;
    margin-top: 15px;
}
#input_padding {
    margin-bottom: 5px;
}
.color_span {
    color: rgb(108, 108, 108);
}
.color_span_location {
    color: rgb(2, 183, 255);
    font-size: 20px;
}
.optional {
    color: rgb(105, 105, 105);
}
#section5 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(171, 171, 171);
    text-align: center;
    height: 100%;
    /* background-image: url('/static/instagrambot/img/companies.jpg');       */
}
.terms {
    padding-top: 50px;
    padding-bottom: 75px;
    display: inline-block;
}
.alinks {
    color: rgb(112, 112, 112); 
}
.termstext {
    display: inline-block;
    font-size: 15px;
    margin-right: 25px;
}
#cards {
    width: 300px;
}
#process_button{
    width: 95%;
    font-size: 25px;
    margin-top: 13px;
    height: 95px;
}
#run_account_button{
    display: inline-block;
    vertical-align: middle;
}
}

@media only screen and (max-width: 417px){
    /* #wrapper_profile {
    
    } */
    #profile_section0 {
        background-color: rgb(255, 255, 255);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: 0;
        text-align: center;
    }
    #profile_section1 {
        background-color: rgb(35, 35, 35);
        height: 100%;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 50px;
        border-top: black 2px dotted;
    }
    #navid {
        background-color: rgb(52, 52, 52);
    }
    #profile_section3 {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        background-repeat: no-repeat;
        text-align: center;
        background-color: rgb(45, 45, 45);
        text-align: center;
        padding-top:50px;
        padding-bottom:50px;
        /* background-image: url('/static/instagrambot/img/profilebg.jpeg'); */
    }
    #profile_section2 {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        background-repeat: no-repeat;
        text-align: center;
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding-top:50px;
        padding-bottom:50px;
    }
    .pricing_form {
        background-color: rgb(121, 176, 185);
        width: 600px;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: block; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top:0; 
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: rgba(0,0,0,0.78); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        text-align: center;
    }
    .hashtag_form {
        width: 95%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        padding-top: 15px;
        margin-top: 15px;
        border-radius: 15px;
        background-color: rgb(217, 217, 217);
        margin-right: 5px;
        margin-bottom: 40px;
        border: rgb(0, 255, 255) solid 2px;
    }
    .hashtag_form2 {
        width: 95%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        padding-top: 15px;
        margin-top: 15px;
        border-radius: 15px;
        background-color: rgb(217, 217, 217);
        margin-right: 5px;
        margin-bottom: 40px;
        border: rgb(0, 255, 255) solid 2px;
    }
    .followbutton {
        width: 95%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        padding-top: 15px;
        margin-top: 15px;
        border-radius: 15px;
        background-color: rgb(217, 217, 217);
        margin-right: 5px;
        margin-bottom: 40px;
        border: rgb(0, 255, 255) solid 2px;
    }
    .geo {
        width: 95%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        padding-top: 15px;
        margin-top: 15px;
        border-radius: 15px;
        background-color: rgb(217, 217, 217);
        margin-right: 5px;
        margin-bottom: 40px;
        border: rgb(0, 255, 255) solid 2px;
    }
    .hashtag_form3 {
        width: 95%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        margin-top: 15px;
        padding: 15px;
        border-radius: 15px;
        background-color: rgb(202, 202, 202);
        margin-bottom: 50px;
        border: rgb(0, 255, 255) solid 2px;
    }
    .tips{
        display: inline-block;
        background: rgb(0, 0, 0);
        padding: 14px;
        border-radius: 22px;
        border: rgb(0, 255, 255) solid 2px;
        width: 95%;
        opacity: .76;
        margin-bottom: 20px;
    }
    .all_hashtags {
        text-align: center;
        margin-top: 15px;
    }
    #pricing_section4 {
        background-color: rgb(52, 52, 52);
    }
    .headline {
       text-align: center;
       color: white;
    }
    .headlineblack {
       text-align: center;
       color: rgb(0, 0, 0);
    }
    #register_form {
        width: 400px;
        text-align: center;
    }
    #followform {
        padding: 15px;
    }
    #stats {
        width: 89px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .messages {
        color:red;
        margin-top: 5px;
        text-align: center;
    }
    #login_form {
        display: none;
    }
    #geoform {
        padding: 15px;
        margin-top: -26px;
        margin-bottom: -18px;
    }
    #usernameform {
        padding-top: 36px;
        padding-bottom: 14px;
        padding-right: 15px;
        padding-left: 15px;
    }
    #interestform {
        padding: 15px;
        margin-top: -26px;
        margin-bottom: -18px;
    }
    .Active {
        color: rgb(1, 219, 1);
    }
    .Inactive {
        color: red;
    }
    .profile_text {
        color: black;
    }
    .delete_x {
        color: red;
    }
    .hashtags {
        background-color: rgb(69, 69, 69);
        color: rgb(255, 255, 255);
        padding: 4px;
        margin-top: 10px;
        border-radius: 4px;
    }
    .blacklists {
        background-color: rgb(0, 0, 0);
        color: rgb(236, 50, 50);
        padding: 4px;
        margin-top: 10px;
        border-radius: 4px;
    }
    .interests {
        background-color: rgb(171, 171, 171);
        color: rgb(0, 0, 0);
        padding: 4px;
        margin-top: 10px;
        border-radius: 4px;
    }
    .usernames {
        background-color: rgb(171, 171, 171);
        color: rgb(0, 0, 0);
        padding: 4px;
        margin-top: 10px;
        border-radius: 4px;
    }
    .keywords {
        background-color: rgb(171, 171, 171);
        color: rgb(0, 0, 0);
        padding: 4px;
        margin-top: 10px;
        border-radius: 4px;
    }
    .maxfollows {
        /* background-color: rgb(69, 69, 69); */
        color: rgb(0, 0, 0);
        padding: 4px;
        margin-top: 10px;
        border-radius: 4px;
    }
    .locationcolor {
        /* background-color: rgb(69, 69, 69); */
        color: rgb(0, 0, 0);
        padding: 4px;
        margin-top: 10px;
        border-radius: 4px;
    }
    .hashtag_box {
        width: 355px;
        height: 281px;
        display: inline-block;
        margin-right: 5%;
        border-radius: 20px;
        border: black 2px solid;
        overflow: auto;
    }
    #submit_form_hashtag { 
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
    #submit_form_keyword {
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
    #submit_form_blacklist {
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
    #submit_form_maxfollows {
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
    #connect {
        width: 370px;
        text-align: center;
        margin-top: 15%;
        display: inline-block;
        background-color: white;
        padding: 20px;
        border-radius: 30px;
        border: black 2px solid;
    }
    #update {
        width: 375px;
        text-align: center;
        margin-top: 10%;
        display: inline-block;
        padding: 20px;
        border-radius: 30px;
        border: black 2px solid;
        background-color: rgb(45, 45, 45);
    }
    #verify {
        width: 96%;
        text-align: center;
        margin-top: 10%;
        display: inline-block;
        background-color: white;
        padding: 20px;
        border-radius: 30px;
        border: black 2px solid;
    }
    #hide {
        display: none;
    }
    .tutorial {
        color: rgb(105, 105, 105);
    }
    .update_text {
        color: rgb(255, 255, 255);
    }
    p {
        font-size: 10px;
    }
    #loading {
        display: none;
    }
    #user_info {
        display: inline-block;
    }
    #payment {
        display: inline-block;
        vertical-align: top;
        margin-top: 2%;
        padding-bottom: 15px;
    }
    #activate {
        color: rgb(1, 255, 1);
    }
    #max_follows {
        text-align: center;
        margin-top: 15px;
        padding-bottom: 37px;
    }
    #location {
        text-align: center;
        margin-top: 15px;
    }
    #input_padding {
        margin-bottom: 5px;
    }
    .color_span {
        color: rgb(108, 108, 108);
    }
    .color_span_location {
        color: rgb(2, 183, 255);
        font-size: 20px;
    }
    .optional {
        color: rgb(105, 105, 105);
    }
    #section5 {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgb(171, 171, 171);
        text-align: center;
        height: 100%;
        /* background-image: url('/static/instagrambot/img/companies.jpg');       */
    }
    .terms {
        padding-top: 50px;
        padding-bottom: 75px;
        display: inline-block;
    }
    .alinks {
        color: rgb(112, 112, 112); 
    }
    .termstext {
        display: inline-block;
        font-size: 15px;
        margin-left: 75px;
        margin-right: 75px;
    }
    #cards {
        width: 70%;
    }
    #process_button{
        padding: 15px;
        width: 95%;
        font-size: 22px;
        margin-top: 8px;
        height: 95px;
    }
    .unfollow_form {
        width: 359px;
        text-align: center;
        background-color: rgb(0, 0, 0);
        border: red solid 2px;
        border-radius: 20px;
        display: inline-block;
        margin-bottom: 25px;
        margin-top: 50px;
        vertical-align: top;
        padding-bottom: 20px;
    }
    #unfollow_header {
        color: white;
        padding-top: 10px;
        margin-bottom: 15px;
    }
}