
@media only screen and (min-width:416px){

#wrapper {
    text-align: center;
}
#wrapperterms {
    text-align: left;
    margin-left: 15%;
    padding: 8px;
}
#wrapper2 {
    text-align: center;
    background-color: black;
    height: 1200px;
}
#section1 {
    height: 750px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/static/instagrambot/img/glassesselfie.jpeg');
}
#howitworks {
    height: 100%;
    padding-bottom: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
#section3 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/static/instagrambot/img/groupself.jpeg');    
}
#features {
    height: 100%;
    padding-bottom: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
#section4 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(52, 52, 52);
    text-align: center;
    height: 100%;
    /* background-image: url('/static/instagrambot/img/companies.jpg');       */
}
#section5 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(171, 171, 171);
    text-align: center;
    height: 100%;
    /* background-image: url('/static/instagrambot/img/companies.jpg');       */
}
.stridemassicon {
    width: 39px;
    margin-right: 10px;
}
.carotext {
    margin-bottom: 477px;
}
.carotextblack {
    margin-bottom: 523px;
    color: black;
}
#carousels {
    width: 370px;
    margin-right: 411px;
    margin-top: 40px;
    filter: drop-shadow(4px 6px 5px black);
    display: inline-block;
}
#carousel_followers_slides {
    width: 475px;
    margin-left: 2px;
    filter: drop-shadow(4px 6px 5px black);
    display: inline-block;
}
#followers_carosel {
    display: block;
    text-align: right;
}
#likes_gif {
    text-align: right;
}
#instagif {
    width: 377px;
    margin-right: 50px;
    opacity: 0.75;
    width: 252px;
    margin-right: 71px;
}
#comments {
    width: 462px;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 15px;
}
#rounded {
    border-radius: 15px;
}
.commenttext {
    font-size: 19px;
    margin-bottom: 113px;
}
.commenttext2 {
    font-size: 19px;
    margin-bottom: 127px;
}

#pricing_section1 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 750px;
    background-repeat: no-repeat;
    background-image: url('/static/instagrambot/img/glassesselfie.jpeg');
}
#sign_in_div {
    background-color: rgb(49, 49, 49);
    width: 100%;
    height: 1200px;
}
#partybg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/static/instagrambot/img/party.jpg');
}
#overlay {
    display: block;
    height: 100%;
    margin-right: -15px;
    margin-left: -15px;
    top: 6%; 
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-color: rgba(0,0,0,0.6); 
    z-index: 2; 
    cursor: pointer; 
}
#wrapper_profile {
    background-color: rgb(42, 42, 42);
    height: 800px;
}
#profile_section1 {
    display: inline-block;
    width: 100%;
    background-color: rgb(42, 42, 42);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
}
#profile_section2 {
    display: inline-block;
    width: 100%;
    height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
}
#pricing_form {
    display: inline-block;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border: black 2px solid;
    border-radius: 15px;
    width: 475px;
    margin-bottom: 15px;
}
#forgot_password {
    display: none;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border: black 2px solid;
    border-radius: 15px;
    width: 475px;
    margin-bottom: 15px;
}
#forgot_button {
    color: lightgrey;
    margin-right: 21%;
}
#need_button {
    color: lightgrey;
}
#partyform {
    display: inline-block;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    border: black 2px solid;
    border-radius: 15px;
    width: 475px;
    margin-top:50px;
}
#adminform {
    display: inline-block;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border: black 2px solid;
    border-radius: 15px;
}
#pricing_section4 {
    background-color: rgb(52, 52, 52);
}

.profile_text {
    color: white;
}
.headline {
    text-align: center;
    padding-top: 15px;
    color: black;
    display: inline-block;
}
.maintext {
    text-align: center;
    color: white;
    padding-top: 15px;
    font-size: 50px;
}
.subtext {
    text-align: center;
    color: white;
}
#getstarted {
    color: white;
    margin-top: 16px;
    width: 390px;
    font-size: 37px;
}
#getstarted2 {
    color: white;
    margin-top: 40px;
    width: 390px;
    font-size: 37px;
}
#register_form {
    width: 400px;
    text-align: center;
}
.terms {
    padding-top: 50px;
    padding-bottom: 75px;
    display: inline-block;
}
.slogan {
    padding-top: 50px;
    padding-bottom: 75px;
}
.termstext {
    display: inline-block;
    font-size: 15px;
    margin-right: 25px;
}
.messages {
    color:red;
    margin-top: 5px;
}
#login_form {
    display: none;
}
#back_button {
    display: none;
}
.form_text {
    color: white;
}
.reg_form {
    color: white;
}
#main_pic {
    width: 100%;
}
.user_prompt_text{
    color: white;
    text-align: right;
}
.insta_icon {
    display: inline-block;
    width: 450px;
}
#homepage_forms {
    text-align: center;
    display: inline-block;
    margin-right: 10%;
}
#gif_and_likes {
    display: inline-block;
    vertical-align: top;
}
.status_text {
    color: rgb(0, 255, 0);
}
.bottomscreen_text{
    color: white;
}
#login_button {
    margin-bottom: 20%;
}
.realtext {
    padding-top: 25px;
}
#stats {
    width: 89px;;
}
#stats {
    width: 89px;;
}
#stats2 {
    width: 89px;
    opacity: 0.75;
}
.class {
    width: 100%;
    display: inline-block;
}
.icons {
    width: 100%;
    display: inline-block;
    margin-top: 25px;
}
.inactive_users_table {
    display: none;
}
.admin_users_table {
    display: none;
}
.Active {
    color: rgb(123, 255, 0);
}
.Inactive {
    color: rgb(255, 34, 34);
}
.true {
    color: rgb(123, 255, 0);
}
.false {
    color: rgb(255, 34, 34);
}
p {
    color: rgb(112, 112, 112);
    padding: 3px;
}
.alinks {
    color: rgb(112, 112, 112); 
}

A:hover {
    color: black;
}
#active_button {
    margin-bottom: 15px;
}
#inactive_button {
    margin-bottom: 15px;
}
#admin_button {
    margin-bottom: 15px;
}
#run_button {
    margin-bottom: 15px;
    width: 80%;

}
#marginbt {
    margin-bottom: 15px;
}
#terms {
    width: 80%;
    display: inline-block;
}
.italisized {
    font-style: italic;
}
#admin_buttons {
    margin-bottom: 15px;
}
#loading {
    color: rgb(0, 205, 0);
}
#cards {
    width: 300px;
}
.review_images {
    width: 100%;
}
#sign_up_text {
    color: rgb(55, 203, 203);
}
.list_faq{
    color: #717171;
    font-size: 22px;
}
}
@media only screen and (max-width: 417px){
    #wrapper {
        text-align: center;
    }
    #wrapperterms {
        text-align: left;
        padding: 10px;
    }
    #wrapper2 {
        text-align: center;
        background-color: black;
        height: 1200px;
    }
    #section1 {
        height: 512px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        /* background-color: rgb(20, 88, 91); */
        background-image: url('/static/instagrambot/img/glassesselfie.jpeg');
    }
    #howitworks {
        height: 100%;
        padding-bottom: 50px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #section3 {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        background-repeat: no-repeat;
        background-image: url('/static/instagrambot/img/groupself.jpeg');    
    }
    #features {
        height: 100%;
        padding-bottom: 50px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #section4 {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgb(52, 52, 52);
        text-align: center;
        height: 100%;
        /* background-image: url('/static/instagrambot/img/companies.jpg');       */
    }
    #section5 {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgb(171, 171, 171);
        text-align: center;
        height: 100%;
        /* background-image: url('/static/instagrambot/img/companies.jpg');       */
    }
    .carotext {
        margin-bottom: 183%;
    }
    #inner_caro {
        margin-left: 2%;
    }
    .carotextblack {
        margin-bottom: 523px;
        color: black;
    }
    #carousels {
        width: 100%;
        margin-top: 40px;
        filter: drop-shadow(4px 6px 5px black);
        display: inline-block;
    }
    #carousel_followers_slides {
        width: 97%;
        margin-left: 2px;
        filter: drop-shadow(4px 6px 5px black);
        display: inline-block;
    }
    #followers_carosel {
        display: block;
        text-align: right;
    }
    #likes_gif {
        text-align: right;
    }
    #instagif {
        width: 377px;
        margin-right: 85px;
        opacity: 0.75;
        width: 252px;
    }
    #comments {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        padding-bottom: 15px;
    }
    #rounded {
        border-radius: 15px;
    }
    .commenttext {
        font-size: 19px;
        margin-bottom: 113px;
    }
    .commenttext2 {
        font-size: 19px;
        margin-bottom: 127px;
    }
    
    #pricing_section1 {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 750px;
        background-repeat: no-repeat;
        background-image: url('/static/instagrambot/img/glassesselfie.jpeg');
    }
    #partybg {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/static/instagrambot/img/party.jpg');
    }
    #overlay {
        display: block;
        height: 100%;
        margin-right: -15px;
        margin-left: -15px;
        top: 6%; 
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-color: rgba(0,0,0,0.6); 
        z-index: 2; 
        cursor: pointer; 
    }
    #sign_up_text {
        color: rgb(55, 203, 203);
    }
    #wrapper_profile {
        background-color: rgb(42, 42, 42);
        height: 800px;
    }
    #profile_section1 {
        display: inline-block;
        width: 100%;
        background-color: rgb(42, 42, 42);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
    }
    #profile_section2 {
        display: inline-block;
        width: 100%;
        height: 400px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
    }
    #pricing_form {
        display: inline-block;
        vertical-align: top;
        background-color: rgb(255, 255, 255);
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        border: black 2px solid;
        border-radius: 15px;
        width: 96%;
        margin-bottom: 15px;
    }
    #forgot_password {
        display: none;
        vertical-align: top;
        background-color: rgb(255, 255, 255);
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        border: black 2px solid;
        border-radius: 15px;
        width: 96%;
        margin-bottom: 15px;
    }
    #forgot_button {
        color: lightgrey;
        margin-right: 5%;
    }
    #need_button {
        color: lightgrey;
    }
    #partyform {
        display: inline-block;
        vertical-align: top;
        background-color: rgb(255, 255, 255);
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
        border: black 2px solid;
        border-radius: 15px;
        width: 475px;
        margin-top: 382px;
    }
    #adminform {
        display: inline-block;
        vertical-align: top;
        background-color: rgb(255, 255, 255);
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        border: black 2px solid;
        border-radius: 15px;
    }
    #pricing_section4 {
        background-color: rgb(52, 52, 52);
    }
    
    .profile_text {
        color: white;
    }
    .headline {
        text-align: center;
        padding-top: 15px;
        color: black;
        display: inline-block;
    }
    .maintext {
        text-align: center;
        color: white;
        padding-top: 15px;
        font-size: 40px;
    }
    .subtext {
        text-align: center;
        color: white;
    }
    #getstarted {
        color: white;
        margin-top: 90px;
        width: 251px;
        font-size: 24px;
        text-align: center;
    }
    #getstarted2 {
        color: white;
        margin-top: 40px;
        width: 95%;
        font-size: 24px;
    }
    #register_form {
        width: 400px;
        text-align: center;
    }
    .terms {
        padding-top: 50px;
        padding-bottom: 75px;
        display: inline-block;
    }
    .slogan {
        padding-top: 50px;
        padding-bottom: 75px;
    }
    .termstext {
        display: inline-block;
        font-size: 15px;
        margin-left: 75px;
        margin-right: 75px;
    }
    #caropic {
        margin-left: 5px;
    }
    #carouselExampleSlidesOnly {
       width: 97%;
       display:inline-block;
    }
    #reviews {
        right: 0px;
    }
    .review_images {
        width: 92%;
    }
    .messages {
        color:red;
        margin-top: 5px;
    }
    #login_form {
        display: none;
    }
    #back_button {
        display: none;
    }
    .form_text {
        color: white;
    }
    .reg_form {
        color: white;
    }
    #main_pic {
        width: 100%;
    }
    .user_prompt_text{
        color: white;
        text-align: right;
    }
    .insta_icon {
        display: inline-block;
        width: 100%;
    }
    #homepage_forms {
        text-align: center;
        display: inline-block;
    }
    #gif_and_likes {
        display: inline-block;
        vertical-align: top;
    }
    .status_text {
        color: rgb(0, 255, 0);
    }
    .bottomscreen_text{
        color: white;
    }
    #login_button {
        margin-bottom: 20%;
    }
    .realtext {
        padding-top: 25px;
    }
    #stats {
        width: 89px;;
    }
    #stats {
        width: 89px;;
    }
    #stats2 {
        width: 89px;
        opacity: 0.75;
    }
    .class {
        width: 100%;
        display: inline-block;
    }
    .icons {
        width: 100%;
        display: inline-block;
        margin-top: 25px;
    }
    .inactive_users_table {
        display: none;
    }
    .admin_users_table {
        display: none;
    }
    .Active {
        color: rgb(123, 255, 0);
    }
    .Inactive {
        color: rgb(255, 34, 34);
    }
    .true {
        color: rgb(123, 255, 0);
    }
    .false {
        color: rgb(255, 34, 34);
    }
    p {
        color: rgb(112, 112, 112);
        padding: 3px;
    }
    .alinks {
        color: rgb(112, 112, 112); 
    }
    A:hover {
        color: black;
    }
    #active_button {
        margin-bottom: 15px;
    }
    #inactive_button {
        margin-bottom: 15px;
    }
    #admin_button {
        margin-bottom: 15px;
    }
    #run_button {
        margin-bottom: 15px;
    
    }
    #marginbt {
        margin-bottom: 15px;
    }
    #admin_buttons {
        margin-bottom: 15px;
    }
    #loading {
        color: rgb(0, 205, 0);
    }
    #cards {
        width: 70%;
    }
    .list_faq{
        color: #717171;
        font-size: 22px;
    }
}
