<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'instagrambot/style.css' %}" media="screen" title="no title"  charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="{% static 'instagrambot/js/jquery.js' %}"></script>
  <style>
    body {
        position: relative; 
    }
  </style>
</head>

<body>

<div id="wrapper">
  <div id="" class="container-fluid" style="height:750px; padding-top:70px;padding-bottom:70px">
    <h4>Activate New User From Admin</h4>
    <div id="partyform">
      <div class="" id="admin_username_form">
        <form action="/admin_run_user" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
              <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username">
            </div><br>  
            <button id="marginbt" type="submit" class="btn btn-info">Go To Users Profile</button>
        </form>
        {% if messages %}
            {% for message in messages %}
              <h5 class="messages">{{ message }}</h5>
            {% endfor %}
          {% endif %} 
      </div>
    </div>
  </div>
</div>
</body>
</html>

