<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin- StrideMass</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'instagrambot/style.css' %}" media="screen" title="no title"  charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="{% static 'instagrambot/js/jquery.js' %}"></script>
  <style>
    body {
        position: relative; 
    }
  </style>
</head>

<body>

<div id="wrapper"> 
  <div id="pricing_section5" class="container-fluid" style="height:750px; padding-top:70px;padding-bottom:70px">
  <div id="adminform">
    <div id="admin_buttons">
    <button id="active_button" class="btn btn-outline-success my-2 my-sm-2" type="submit">PAID ACCOUNTS</button>
    <button id="inactive_button" class="btn btn-outline-danger my-2 my-sm-2" type="submit">UNPAID ACCOUNTS</button>
    <button id="admin_button" class="btn btn-outline-warning my-2 my-sm-2" type="submit">ADMIN ACCOUNTS</button>
  </div>
    <form id="killaccount_button" action="/kill_this_account_bot" method="post">
      {% csrf_token %}
      <div class="input-group">
        <input name="id" type="text" class="form-control" placeholder="User ID" aria-label="Username">
        <button type="submit" class="btn btn-danger">MAKE ACCOUNT INACTIVE</button>
      </div>
    </form>
    <br>
    <form id="killaccount_button" action="/admin_process_account" method="post">
      {% csrf_token %}
      <div class="input-group">
        <input name="id" type="text" class="form-control" placeholder="User ID" aria-label="Username">
        <button type="submit" class="btn btn-success">RUN/ ACTIVATE ACCOUNT</button>
      </div>
    </form>
    <br>
    <a href="/admin-process"><button id="run_button" class="btn btn-info my-2 my-sm-2" type="submit">RUN NEW CLIENT</button></a><br>
    {% if messages %}
      {% for message in messages %}
        <h4 class="messages">{{ message }}</h4>
      {% endfor %}
    {% endif %}
   </div>

      <div class="active_users_table">
        <h1>ACTIVE USERS</h1>
        <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">PW</th>
                    <th scope="col">Status</th>
                    <th scope="col">Running</th>
                  </tr>
                </thead>
                <tbody>
                {% for user in all_users_active %}
                  <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td><a href="/profile/{{user.id}}">{{ user.instagram_username }}</a></td>
                    <td>{{ user.instagram_password }}</td>
                    <td class="{{user.status}}">{{ user.status }}</td>
                    <td class="{{user.bot_running}}">{{ user.bot_running }}</td>
                  </tr>
                {% endfor %}
                </tbody>
        </table><br><br>
      </div>

      <div class="inactive_users_table">
        <h1>INACTIVE USERS</h1>
        <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">PW</th>
                    <th scope="col">Status</th>
                    <th scope="col">Running</th>
                  </tr>
                </thead>
                <tbody>
                {% for user in all_users_inactive %}
                  <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.email }}</td>
                    <td><a href="/profile/{{user.id}}">{{ user.instagram_username }}</a></td>
                    <td>{{ user.instagram_password }}</td>
                    <td class="{{ user.status }}">{{ user.status }}</td>
                    <td class="{{user.bot_running}}">{{ user.bot_running }}</td>
                  </tr>
                {% endfor %}
                </tbody>
        </table>
      </div>

      <div class="admin_users_table">
        <h1>ADMIN RUNNING ACCOUNTS</h1>
        <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">PW</th>
                    <th scope="col">Status</th>
                    <th scope="col">Running</th>
                  </tr>
                </thead>
                <tbody>
                {% for user in all_users_admin %}
                  <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.email }}</td>
                    <td><a href="/profile/{{user.id}}">{{ user.instagram_username }}</a></td>
                    <td>{{ user.instagram_password }}</td>
                    <td class="{{ user.status }}">{{ user.status }}</td>
                    <td class="{{user.bot_running}}">{{ user.bot_running }}</td>
                  </tr>
                {% endfor %}
                </tbody>
        </table>
      </div>
  </div>
</div>
</body>
</html>

