<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cancel Subscription- StrideMass</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'instagrambot/style.css' %}" media="screen" title="no title"  charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="{% static 'instagrambot/js/jquery.js' %}"></script>
  <style>
    body {
        position: relative; 
    }
  </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">StrideMass</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <form action="/" class="form-inline my-2 my-sm-0">
            <button class="btn btn-outline-danger my-2 my-sm-0 btn-md" type="submit">Back</button>
          </form>
        </div>
      </nav>

<div style="background-color:rgb(239, 239, 239);">
        <br>
    <div class="container-fluid">
      <h3 style="color:rgb(18, 202, 231);">How Soon After Signing Up Will I See Results?</h3>
      <ul>
        <li class="list_faq">Depending on how many parameters you choose, you will start seeing new activity within 1-6 hours.</li>
        <li class="list_faq">The more Hashtags, Keywords, Username Followers etc... that you choose, will take longer to start your account.</li>
        <li class="list_faq">We encourage you to choose a lot of each parameter as you can have up to 15 of each.</li>
      </ul>
      <br>  
      <h3 style="color:rgb(18, 202, 231);">Are The Followers I Gain Real?</h3>
      <ul>
        <li class="list_faq">Absolutely! We only target real users and never use any fake accounts to grow your account.</li>
        <li class="list_faq">Our competitors will offer a free 100 followers, those accounts are almost always fake.</li>
      </ul>
      <br>  
      <h3 style="color:rgb(18, 202, 231);">Can I Keep Posting, Liking, And Following On My Own While Running My Account Through StrideMass?</h3>
      <ul>
        <li class="list_faq">We encourage you to keep posting new content as frequently as possible.</li>
        <li class="list_faq">Please keep liking and following to a minimum. Don't like more than 10 photos per day, and don't follow or unfollow more than 10 accounts per day.</li>
        <li class="list_faq">You can comment on as many posts as you like per day.</li>
        <li class="list_faq">If you follow these guidelines your account will not exceed Instagrams daily action limit.</li>
      </ul>
      <br>  
      <h3 style="color:rgb(18, 202, 231);">Why Am I Not Noticing Any Activity Or Growth On My Account?</h3>
      <ul>
        <li class="list_faq">Please verify that your account is active and your membership has been paid.</li>
        <li class="list_faq">If prompted to enter a code, that Instagram emailed to you, and you clicked 'No Code Sent', your account will not run.  Please run your account again and enter the new code Instagram emailed to you.</li>
        <li class="list_faq">Make sure to choose parameters (Hashtags, Usernames, Keywords etc..) that pertain to your content on your page.</li>
        <li class="list_faq">You have a much higher rate of gaining followers if you set your account to follow other users.</li>
        <li class="list_faq">You can try reseting your password for Instagram, and re-running your account in StrideMass with the updated password.</li>
        <li class="list_faq">If you have tried all of these and are still not noticing results, please email <span style="color: grey;">support@stridemass.com</span>.</li>
      </ul>
      <br>  
      <h3 style="color:rgb(18, 202, 231);">How Do I Change My Payment Method?</h3>
      <ul>
        <li class="list_faq">Please email <span style="color:red;">support@stridemass.com</span>.</li>
        <li class="list_faq">Let us know that you would like to update your payment method.</li>
        <li class="list_faq">We will then cancel your monthly service, and next time you log into StrideMass you can click pay with card and update.</li>
      </ul>
      <h3 style="color:rgb(18, 202, 231);">How Do I Cancel My Membership?</h3>
      <ul>
        <li class="list_faq">You must cancel your account by emailing <span style="color:red;">support@stridemass.com</span>.</li>
        <li class="list_faq">Please include your first and last name.</li>
        <li class="list_faq">You will not receive any refunds if you cancel your account after your monthly billing date.</li>
        <li class="list_faq">If you cancel the service before the end of your current paid up month, your cancellation will take effect immediately and you will not be charged again.</li>
      </ul>
    </div>
        
    <div id="section5" class="row-fluid">
        <div class="terms">
            <h6 class="alinks">Copyright &copy; 2018 StrideMass. All Rights Reserved.</h6>
            <a class="alinks" href="/signup"><h6 class="termstext">Get Started</h6></a>
            <a class="alinks" href="/signin"><h6 class="termstext">Sign In</h6></a>
            <a class="alinks" href="/terms_of_service"><h6 class="termstext">Terms of Service</h6></a>
            <a class="alinks" href="/privacy_policy"><h6 class="termstext">Privacy Policy</h6></a>
        </div>
        </div>
        </div>
</div>
</body>
</html>

