<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K5H5HL5');</script>
  <!-- End Google Tag Manager -->
  <title>Get Real Instagram Followers- StrideMass</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'instagrambot/style.css' %}" media="screen" title="no title"  charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="{% static 'instagrambot/js/jquery.js' %}"></script>
  <style>
    body {
        position: relative; 
    }
  </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5H5HL5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">StrideMass</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#howitworks">How It Works <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signin">Sign In</a>
          </li>
        </ul>
        <form action="/dashboard" class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Dashboard</button>&nbsp;
        </form>
        <form action="/signup" class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Get Started</button>
        </form>
      </div>
  </nav>

<div id="wrapper">
  <div id="section1" class="row-fluid" >
    <div id="homepage_forms">
        <h1 class="maintext">Real Instagram Growth</h1>
        <h4 class="subtext">Gain Thousands Of Real Followers Every Month!</h4>
        <form action="/signup">
          <button id="getstarted" class="btn btn-outline-info btn-md">FREE 3 DAY TRIAL</button>  
        </form>  
    </div>
    <div id="gif_and_likes">
      <div id="likes_gif">
        <img id="instagif" src="{% static 'instagrambot/img/likesgif.gif' %}">
      </div>
      <div id="followers_carosel">
          <div id="carousel_followers_slides" class="carousel slide" data-ride="carousel" data-interval="1920">
            <div id="caropic" class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'instagrambot/img/follow1.png' %}" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'instagrambot/img/follow2.png' %}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'instagrambot/img/follow3.png' %}" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'instagrambot/img/follow4.png' %}" alt="Fourth slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'instagrambot/img/follow5.png' %}" alt="Fifth slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'instagrambot/img/follow6.png' %}" alt="Sixth slide">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div id="howitworks" class="row-fluid">
    <div class="realtext">
      <h2 class="headline">Real People. &nbsp;</h2>
      <h2 class="headline">Real Interactions. &nbsp;</h2>
      <h2 class="headline">Real Results. &nbsp;</h2>
    </div>
    <div class="icons">
      <div class="insta_icon">
        <img id="stats" src="{% static 'instagrambot/img/instagram.png' %}"><br>
        <h3>Sign Into Instagram</h3>
        <p>Connect your Instagram to StrideMass, access the Dashboard and set your parameters.</p>
      </div>
      <div class="insta_icon">
        <img id="stats2" src="{% static 'instagrambot/img/params.png' %}"><br>
        <h3>Configure Your Settings</h3>
        <p>Inside of the Dashboard you will be able to connect and engage with your specific target audience.</p>
      </div>
      <div class="insta_icon">
        <img id="stats2" src="{% static 'instagrambot/img/save.png' %}"><br>
        <h3>Save. Update. Run Account.</h3>
        <p>After you find the perfect settings, run your account. Now relax while you gain real followers and interactions!</p>
      </div>
    </div>
  </div>


  <div id="section3" class="row-fluid">
      <form action="/signup">
        <button id="getstarted2" class="btn btn-info btn-lg">Start Your Campaign</button>   
      </form>
      <div id="carousels">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1850">
        <div id="inner_caro">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{% static 'instagrambot/img/modeling.jpeg' %}" alt="First slide">
              <div class="carousel-caption">
                <h3 class="carotext">Influencers</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'instagrambot/img/fashion2.jpeg' %}" alt="Second slide">
              <div class="carousel-caption">
                <h3 class="carotext">Fashion</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'instagrambot/img/influencer.jpeg' %}" alt="Third slide">
              <div class="carousel-caption">
                <h3 class="carotext">Modeling</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'instagrambot/img/lifestyle.jpeg' %}" alt="Fourth slide">
              <div class="carousel-caption">
                <h3 class="carotext">Life Style</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'instagrambot/img/musicains.jpeg' %}" alt="Fourth slide">
              <div class="carousel-caption">
                <h3 class="carotext">Musicians</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'instagrambot/img/travel.jpeg' %}" alt="Fourth slide">
              <div class="carousel-caption">
                <h3 class="carotext">Travel</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'instagrambot/img/makeup.jpeg' %}" alt="Fourth slide">
              <div class="carousel-caption">
                <h3 class="carotext">Beauty</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'instagrambot/img/fashion.jpeg' %}" alt="Fourth slide">
              <div class="carousel-caption">
                <h3 class="carotext">Art</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'instagrambot/img/photography.jpeg' %}" alt="Fourth slide">
              <div class="carousel-caption">
                <h3 class="carotext">Photography</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'instagrambot/img/health.jpeg' %}" alt="Fourth slide">
              <div class="carousel-caption">
                <h3 class="carotext">Health</h3>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <div id="comments">
        <div id="reviews" class="carousel slide" data-ride="carousel" data-interval="1850">
          <div class="carousel-inner">
            <div class="review_images">
              <img id="rounded" class="d-block w-100" src="{% static 'instagrambot/img/achi.png' %}" alt="First slide">
            </div>
          </div>
          <div class="carousel-inner">
            <div class="review_images">
              <img id="rounded" class="d-block w-100" src="{% static 'instagrambot/img/hightech.png' %}" alt="First slide">
            </div>
          </div>
          <div class="carousel-inner">
            <div class="review_images">
              <img id="rounded" class="d-block w-100" src="{% static 'instagrambot/img/sugarshack.png' %}" alt="First slide">
            </div>
          </div>
        </div>
    </div>  
  </div>

  <div id="features" class="row-fluid">
      <div class="realtext">
          <h1 class="headline">Target Your Perfect Audience</h1>
      </div>
      <div class="icons">
        <div class="insta_icon">
          <img id="stats" src="{% static 'instagrambot/img/hashtagicon.png' %}"><br>
          <h3>Hashtags</h3>
          <p>We utilize hashtags and other metrics to ensure
            that your account is engaging with the right users.
            Sit back and watch as your account gets real organic growth.</p>
        </div>
        <div class="insta_icon">
          <img id="stats" src="{% static 'instagrambot/img/locationicon.png' %}"><br>
          <h3>Location</h3>
          <p>Great for local businesses, bands, influencers etc...
          We utilize hashtags and keywords together, with geo-location, 
          for advanced targeting if you choose to turn on this option.</p>
        </div>
        <div class="insta_icon">
          <img id="stats" src="{% static 'instagrambot/img/keyword.png' %}"><br>
          <h3>Keywords</h3>
          <p>We offer an advanced keyword search from a users post.
            We are one of the only companies to offer this option.
            Engage only with users whose post matches your keywords.</p>
        </div>
        <div class="insta_icon">
          <img id="stats" src="{% static 'instagrambot/img/at.png' %}"><br>
          <h3>Usernames Followers</h3>
          <p>Target a specific audience using our Username feature.
            This feature will only target users who follow the specific
            Username(s) that you choose.</p>
        </div>
        <div class="insta_icon">
          <img id="stats" src="{% static 'instagrambot/img/blacklistgrey.png' %}"><br>
          <h3>Blacklist</h3>
          <p>Choose blacklist keywords that you do not want to interact with.
            If any part of a username or post contains your blacklist,
            your account will never interact with their account.</p>
        </div>
        <div class="insta_icon">
          <img id="stats" src="{% static 'instagrambot/img/maxfollows.png' %}"><br>
          <h3>Follow/ Unfollow</h3>
          <p>This is the most effective way to gain real followers.
            If turned on your account will follow accounts
            and auto unfollow the same accounts a few hours later.
          </p>
        </div>
        <div class="insta_icon">
          <img id="stats" src="{% static 'instagrambot/img/interests.png' %}"><br>
          <h3>Interests</h3>
          <p>Add Interests that best describe your account.
            This feature helps our staff provide feedback for
            setting your account features to maximize your account growth.</p>
        </div>
        <div class="insta_icon">
          <img id="stats" src="{% static 'instagrambot/img/mobilef.png' %}"><br>
          <h3>Mobile Ready</h3>
          <p>Our website and dashboard are 100% mobile ready.
            Our website is mobile and tablet responsive and you can access 
            your account from a smartphone, tablet, or computer.</p>
        </div>
      </div>
  </div>

  <div id="section4" class="row-fluid">
    <div class="slogan">
      <h2 class="subtext">Don't Sleep On Your Brand,</h2>
      <h2 class="subtext">Sleep While We Grow It For You</h2>
      <form action="/signup">
        <button id="getstarted2" class="btn btn-info btn-lg">Get Started</button>   
      </form>
    </div>
  </div>

  <div id="section5" class="row-fluid">
    <div class="terms">
      <h6 class="alinks">Copyright &copy; 2018 StrideMass. All Rights Reserved.</h6>
      <a class="alinks" href="#howitworks"><h6 class="termstext">How It Works</h6></a>
      <a class="alinks" href="#features"><h6 class="termstext">Features</h6></a>
      <a class="alinks" href="/signin"><h6 class="termstext">Sign In</h6></a>
      <a class="alinks" href="/faqs"><h6 class="termstext">FAQs</h6></a><br>
      <a class="alinks" href="/terms_of_service"><h6 class="termstext">Terms of Service</h6></a>
      <a class="alinks" href="/privacy_policy"><h6 class="termstext">Privacy Policy</h6></a><br>
      <img id="cards" src="{% static 'instagrambot/img/paymentcards.png' %}">
    </div>
  </div>
</div>
</body>
</html>
