<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K5H5HL5');</script>
  <!-- End Google Tag Manager -->
  <title>Sign Up- StrideMass</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'instagrambot/style.css' %}" media="screen" title="no title"  charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="{% static 'instagrambot/js/jquery.js' %}"></script>
  <style>
    body {
        position: relative; 
    }
  </style>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5H5HL5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">StrideMass</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form action="/" class="form-inline my-2 my-sm-0">
          <button class="btn btn-outline-danger my-2 my-sm-0 btn-md" type="submit">Back</button>
        </form>
      </div>
    </nav>

<div id="wrapper">
  <div id="pricing_section1" class="container-fluid">
    <div id=overlay>
      <h1 class="profile_text">StrideMass</h1><br>
      <div id="pricing_form">
          <h2 class="headline" id="sign_up_text">Free 3 Day Trial!</h2><br>
          <form action="/getstarted" method="post">
            {% csrf_token %}
            <input name="email" type="text" class="form-control" placeholder="Email" aria-label="Email"><br>  
            <div class="input-group">  
            </div>
            <input name="password" type="password" class="form-control" placeholder="Password"><br>
            <input name="confirmpassword" type="password" class="form-control" placeholder="Confirm Password"><br>
            <h5 style="color:lightgrey; font-size: 12px;" >By clicking 'Get Started', you agree to our Privacy Policy and Terms of Service.</h5>
            <button type="submit" class="btn btn-info btn-lg">Get Started</button>
          </form>
          {% if messages %}
            {% for message in messages %}
              <h5 class="messages">{{ message }}</h5>
            {% endfor %}
          {% endif %} 
      </div>
      </div>
    </div>
  </div>
  <div id="section5" class="row-fluid">
      <div class="terms">
        <h6 class="alinks">Copyright &copy; 2018 StrideMass. All Rights Reserved.</h6>
        <a class="alinks" href="/terms_of_service"><h6 class="termstext">Terms of Service</h6></a>
        <a class="alinks" href="/privacy_policy"><h6 class="termstext">Privacy Policy</h6></a>
        <img id="cards" src="{% static 'instagrambot/img/paymentcards.png' %}">
      </div>
    </div>

</div>
</body>
</html>

