<!DOCTYPE html>
<html lang="en">
<head>
  <title>Terms- StrideMass</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'instagrambot/style.css' %}" media="screen" title="no title"  charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="{% static 'instagrambot/js/jquery.js' %}"></script>
  <style>
    body {
        position: relative; 
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">StrideMass</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/signin">Sign In</a>
        </li>
      </ul>
      <form action="/signup" class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Get Started</button>
      </form>
    </div>
</nav>

<div id="wrapperterms">
  <div id="terms">
    <h1>Privacy Policy</h1>
    <h4 class="italisized">This policy was last updated on January 10, 2019</h4>
    <h3>Routine Information Collection</h3>
    <p>All web servers track basic information about their visitors. This information includes, but is not limited to, IP addresses, browser details, timestamps and referring pages. None of this information can personally identify specific visitors to this site. The information is tracked for routine administration and maintenance purposes.</p>
    <h3>Cookies and Web Beacons</h3>
    <p>Where necessary, StrideMass uses cookies to store information about a vistor's preferences and history in order to better serve the visitor and/or present the visitor with customized content.</p>
    <p>Advertising partners and other third parties may also use cookies, scripts and/or web beacons to track visitors to our site in order to display advertisements and other useful information. Such tracking is done directly by the third parties through their own servers and is subject to their own privacy policies.</p>
    <h3>Controlling Your Privacy</h3>
    <p>Note that you can change your browser settings to disable cookies if you have privacy concerns. Disabling cookies for all sites is not recommended as it may interfere with your use of some sites. The best option is to disable or enable cookies on a per-site basis. Consult your browser documentation for instructions on how to block cookies and other tracking mechanisms.</p>
    <h3>Do we disclose any information to outside parties?</h3>
    <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our software, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
    <h3>Childrens Online Privacy Protection Act Compliance</h3>
    <p>We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our software, products and services are all directed to people who are at least 13 years old or older.</p>
    <h3>Online Privacy Policy Only</h3>
    <p>This online privacy policy applies only to information collected through our software and not to information collected offline.</p>
    <h3>Terms of Use</h3>
    <p>Please also visit our Terms of Use section establishing the use, disclaimers, and limitations of liability governing the use of our software at http://stridemass.com/terms_of_service</p>
    <h3>Changes To Our Privacy Policy</h3>
    <p>We reserved the right to make changes and update this privacy policy at anytime without warning.</p>
    <h3>Contact Information</h3>
    <p>Concerns or questions about this privacy policy can be directed to our support staff for further clarification.</p>
  </div>
</div>
    <div id="section5" class="row-fluid">
        <div class="terms">
          <h6 class="alinks">Copyright &copy; 2018 StrideMass. All Rights Reserved.</h6>
          <a class="alinks" href="/signup"><h6 class="termstext">Get Started</h6></a>
          <a class="alinks" href="/signin"><h6 class="termstext">Sign In</h6></a>
          <a class="alinks" href="/terms_of_service"><h6 class="termstext">Terms of Service</h6></a>
          <a class="alinks" href="/privacy_policy"><h6 class="termstext">Privacy Policy</h6></a>
        </div>
      </div>
</body>
</html>

