<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K5H5HL5');</script>
  <!-- End Google Tag Manager -->
  <title>Dashboard- StrideMass</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'instagrambot/profile_style.css' %}" media="screen" title="no title"  charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <script src="{% static 'instagrambot/js/jquery.js' %}"></script>
  <style>
    body {
        position: relative; 
    }
  </style>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5H5HL5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<script>

  window.onload = function(){
    var startPos;
    if (!"scrollPostion" in localStorage) {
      startPos = 0;
    }
    else {
      startPos = localStorage.getItem("scrollPosition")
    }
    setTimeout(function () {
            window.scrollTo(0, startPos);
        },1);
  }

</script>

  <nav id="navid" class="navbar navbar-expand-lg navbar-light">
    <a style="color: white;" class="navbar-brand" href="/">StrideMass</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form action="/logout" class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log Out</button>
      </form>
    </div>
  </nav>

<div id="wrapper_profile">
  <div id="profile_section0">    
    <div id="user_info">
      <h1 class="headlineblack">@{{user.instagram_username}}</h1>
      <h5 style="color: black">Your Account is: </h5><h3 class="{{user.status}}">{{user.status}}</h3>
      {% if messages %}
        {% for message in messages %}
        <h4 class="messages">{{ message }}</h4>
        {% endfor %}
      {% endif %} 
    </div>
    <div id="payment">
      <h5 id="activate">Activate Account</h5>
      <form action="/checkout/{{user.id}}" method="POST">
        {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{stripe_key}}" 
            data-panel-label="Start Trial"
            data-name="StrideMass"
            data-description="StrideMass User Membership"
            data-image="{% static 'instagrambot/img/network.jpg' %}"
            data-currency="usd" 
            data-locale="auto">
        </script>
        <script>
            document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
        </script>
        <button type="submit" class="btn btn-outline-info btn-lg">Start Free Trial</button>
        <h6 style="font-size:10px; font-style: italic; padding-top: 15px;">After 3 Days $99 Monthly Membership Activates <br><a style="color:grey;" href="/faqs">(Cancel Anytime Here)</a></h6>
      </form>
    </div>
  </div>
  
  <div id="{{user.overlay}}">
    <div id="{{user.connect}}">
        <form action="/tutorial/{{user.id}}" method="POST">
          {% csrf_token %}
          <h4 style="color:rgb(43, 212, 227);">*Please Turn Off 2-Factor Authorization In Your Instagram Account</h4><br>
          <button type="submit" class="btn btn-outline-success btn-lg">Okay</button><br>
        </form>   
    </div>
    <div id="{{user.verify}}">
        {% if messages %}
          {% for message in messages %}
            <h4 class="messages">{{ message }}</h4>
          {% endfor %}
        {% endif %} 
        <h5 class="tutorial" >Instagram Emailed Or Texted <br> Verification Code</h5>
        <h4 id="verifying_text" style="color:rgb(55, 236, 0); display:none;"><br>Verifying...</h4>
        <form id="sec_form" action="/verify_account_login/{{user.id}}" method="POST">
          {% csrf_token %}
          <input name="sec_code" type="number" class="form-control" placeholder="Enter Security Code" aria-label="sec_code"><br>
          <button id="sec_code_button_green" type="submit" class="btn btn-outline-success btn-lg">Verify Instagram Login </button><br>
        </form><br>
        <h5> _______________________________</h5><br>
        <form action="/no_verification_sent/{{user.id}}" method="POST">
          {% csrf_token %}
          <button id="sec_code_button_red" type="submit" class="btn btn-outline-danger btn-lg">No Code Was Sent</button><br>
        </form><br>
        <p>**If you don't allow access our software can not start growing your account</p>
    </div>
    
    <div id="{{user.update}}">
      <h2 class="update_text" style="color: white;">ACCOUNT IS <span style="color:rgb(4, 200, 4);">RUNNING</span></h2><br>
      <form action="/logout" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-lg">Logout/ Keep Account Running</button>
      </form><br>  
      <h2 class="update_text" style="color:rgb(190, 190, 190);">-or-</h2><br>
      <form action="/update/{{user.id}}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-lg">Stop Account To Update</button>
      </form>
    </div>
    </div>

    <div id="profile_section3">
    <div id="key_hash_div">
      <div class="hashtag_form">
        <h5 class="profile_text"> Add Hashtag</h5> 
        <p>(Add Up To 15 Hashtags. The More Relative Hashtags Are To Your Account The Better The Results!  You Can Update Or Change Your Hashtags At Anytime.)</p>
          <img id="stats" src="{% static 'instagrambot/img/hashtagicon.png' %}">
          <form id="submit_form_hashtag" action="/add_hashtag/{{user.id}}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">#</span>
                </div>
              <input name="hashtags" type="text" class="form-control" placeholder="Hashtag" aria-label="Hashtag">
            </div><br>
            <button id="hashtag_button" type="submit" class="btn btn-info btn-md">Add Hashtag</button>
          </form> 
          <div class="all_hashtags">
              {% for hash in users_hashtags %}
                  <label class="hashtags"> {{ hash.hashtag_name }} <a class="delete_x" href="/delete_hashtag/{{hash.id}}/{{user.id}}">x</a> </label>
                {% endfor %}
          </div>
      </div>

      <div class="hashtag_form2">
        <h5 class="profile_text">Add Keyword <span class="optional">(Optional)</span> </h5> 
        <p>(Keywords Are Words Inside Of Someones Post Or Comment. If Any Of Your Keywords Are Found In Certain Posts, Our Software Will Work To Influence That Specific User.)</p>
          <img id="stats" src="{% static 'instagrambot/img/keyword.png' %}">
          <form id="submit_form_keyword" action="/add_keyword/{{user.id}}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">*</span>
                </div>
              <input name="keywords" type="text" class="form-control" placeholder="Keyword" aria-label="Keyword">
            </div><br>
            <button id="keyword_button" type="submit" class="btn btn-info btn-md">Add Keyword</button>
          </form> 
          <div class="all_hashtags">
            {% for key in users_keywords %}
                <label class="keywords"> {{ key.keyword_name }} <a class="delete_x" href="/delete_keyword/{{key.id}}/{{user.id}}">x</a> </label>
              {% endfor %}
          </div>
      </div>
      <div class="hashtag_form2">
        <h5 class="profile_text">Blacklist <span class="optional">(Optional)</span> </h5> 
        <p>(Blacklists Prevent Following A Username That Match Your Blacklists. If Any Of Your Blacklist Are Found In Any Part Of That Usersname Or Post You Will Not Interact With Them.)</p>
          <img id="stats" src="{% static 'instagrambot/img/blacklist.png' %}">
          <form id="submit_form_blacklist" action="/add_blacklist/{{user.id}}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">x</span>
                  </div>
              <input name="blacklist" type="text" class="form-control" placeholder="Blacklist" aria-label="Keyword">
            </div><br>
            <button id="blacklist_button" type="submit" class="btn btn-info btn-md">Add Blacklist</button>
          </form> 
          <div class="all_hashtags">
            {% for blist in users_blacklists %}
                <label class="blacklists"> {{ blist.blacklist_name }} <a class="delete_x" href="/delete_blacklist/{{blist.id}}/{{user.id}}">x</a> </label>
              {% endfor %}
          </div>
      </div>
    </div>

      <div class="followbutton">
          <h5 class="profile_text">Usernames Followers: <span class="optional">(Optional)</span></h5>
          <p>(Add Usernames Where You Would Like To Target That Specific Users Followers. Maximum Of 5 Usernames At A Time.)</p>
          <img id="stats" src="{% static 'instagrambot/img/at.png' %}">
          <form id="usernameform" action="/usernames/{{user.id}}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
              <input name="add_username" type="text" class="form-control" placeholder="Username" aria-label="Username"><br>
            </div><br>
            <button id="usernameform_button" type="submit" class="btn btn-info btn-md">Add Username</button>
          </form>
          <div id="all_usernames">
            <label class="locationcolor">USERNAMES: &nbsp; 
              {% for username in users_usernames %}
              <label class="usernames"><span>@</span>{{ username.usernames_follower_name }} <a class="delete_x" href="/delete_username/{{username.id}}/{{user.id}}">x</a> </label>
              {% endfor %}
          </div>
        </div>      

      <div class="geo">
        <h5 class="profile_text">Location: <span class="optional">(Optional)</span></h5>
        <p>(You Can Choose A City and State, Or City And Country. If You Leave It Blank We Will Not Base Your Target Users On Location.)</p>
        <img id="stats" src="{% static 'instagrambot/img/smallgeo.png' %}">
        <form id="geoform" action="/location/{{user.id}}" method="post">
          {% csrf_token %}
          <input id="input_padding" name="city" type="text" class="form-control" placeholder="City" aria-label="City">
          <input name="state" type="text" class="form-control" placeholder="Full Name Of State or Country" aria-label="State"><br>
          <button id="geoform_button" type="submit" class="btn btn-info btn-md">Location</button>
        </form>
        <div id="location">
          <label class="locationcolor">LOCATION: &nbsp; <span class="color_span_location">{{ user.location }}</span> <a class="delete_x" href="/delete_location/{{user.id}}">x</a> </label></label>
        </div>
      </div>

      <div class="followbutton">
        <h5 class="profile_text">Interests: <span class="optional">(Optional)</span></h5>
        <p>(List Your Own Personal Interests.  Different Than Hashtags, Interests Are Content That You Enjoy And Best Describe Your Profile.)</p>
        <img id="stats" src="{% static 'instagrambot/img/interests.png' %}">
        <form id="interestform" action="/interests/{{user.id}}" method="post">
          {% csrf_token %}
          <input name="interests" type="text" class="form-control" placeholder="Interest" aria-label="Interest"><br>
          <button id="interestform_button" type="submit" class="btn btn-info btn-md">Add Interest</button>
        </form>
        <div id="all_interests">
          <label class="locationcolor">INTERESTS: &nbsp; 
            {% for interest in users_interests %}
            <label class="interests"> {{ interest.interest_name }} <a class="delete_x" href="/delete_interest/{{interest.id}}/{{user.id}}">x</a> </label>
            {% endfor %}
        </div>
      </div>

      <div class="followbutton">
        <h5 class="profile_text">Auto Follow/ Unfollow:</h5>
        <p>(Turning On Auto Follow/ Unfollow Is The Most Effective Way To Gain Followers.  Your Account Will Follow And Unfollow That Same Account A Few Hours Later.)</p>
        <img id="stats" src="{% static 'instagrambot/img/maxfollows.png' %}">
        <div id="submit_form_maxfollows">
          <input type="checkbox" checked data-toggle="toggle" data-onstyle="info" data-offstyle="danger">
        </div>
        <div id="max_follows">
              <label style="color:rgb(78, 78, 78); font-size: 18px;" class="maxfollows">*HIGHLY RECOMMENDED</span></label>
        </div>
      </div>

    <div class="hashtag_form3">
        <h4 class="profile_text">Save Settings</h4><br>
        <form id="process_account" action="/process_account/{{user.id}}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
              <input name="username" type="text" class="form-control" value="{{ user.instagram_username }}" placeholder="Username" aria-label="Username">
            </div><br>
            <input name="password" type="password" class="form-control" placeholder="Instagram Password" aria-label="password">
            <br>
            <input name="password_confirm" type="password" class="form-control" placeholder="Confirm Password" aria-label="password">
            <br>
            <button form="process_account" id="process_button" type="submit" class="btn btn-success btn-lg">SAVE AND RUN</button>
            <h3 style="display:none; color:rgb(55, 236, 0);" id="connecting_text">Verifying Login...</h3>
        </form>  
    </div>  

    <div id="unfollow_section" class="row-fluid">
        <div class="tips">
            <h3 style="color: white;">Helpful Tips</h3>
            <div class="align_left">
              <li style="color: white;">TURN ON Autofollow/ Unfollow for maximum growth</li><br>
              <li style="color: white;">USE a minimum of 5 hashtags</li><br>
              <li style="color: white;">DON'T USE very common hashtags</li>
              <h6 style="color: white;">(Ex: #music #travel #food)</h6><br>
              <li style="color: white;">BE SPECIFIC with your hashtags</li>
              <h6 style="color: white;">(Ex: #acousticguitarcover #travelingwithfriends)</h6><br>
              <li style="color: white;">DO USE common words to describe interests</li>
              <h6 style="color: white;">(Ex: *singing, *traveling, *videogames)</h6><br>
              <li style="color: white;">DON'T SET LOCATION unless you only want to interact with users in that area</li><br>
              <li style="color: white;">KEEP your activity (liking/ following) to a minimum, while running account</li>
            </div>
        </div> 

    <div id="section5" class="row-fluid">
      <div class="terms">
        <h6 class="alinks">Copyright &copy; 2018 StrideMass. All Rights Reserved.</h6>
        <a class="alinks" href="/faqs"><h6 class="termstext">FAQs</h6></a>
        <a class="alinks" href="/terms_of_service"><h6 class="termstext">Terms of Service</h6></a>
        <a class="alinks" href="/privacy_policy"><h6 class="termstext">Privacy Policy</h6></a><br>
        <img id="cards" src="{% static 'instagrambot/img/paymentcards.png' %}">
      </div>
    </div>

</div>
</body>
</html>

